
body{
    background: rgb(36, 36, 36);
    color: white;
}
    
.main{
    justify-content: center;
    align-items: center;
    display: flex;

}

.grayBtn{
    background: rgb(155, 155, 155);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-width: 0;
    margin-bottom: 10px;
    font-size: medium;
    margin-right: 0.35em;

}
.blackBtn{
    background: rgb(39, 39, 39);
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-width: 0;
    margin-bottom: 10px;
    font-size: medium;
    margin-right: 0.35em;



}
.orangeBtn{
    background: orange;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-width: 0;
    margin-bottom: 10px;
    color: white;
    font-size: large;
    margin-right: 0.35em;




}
.splBtn{
    height: 40px;
    width: 90px;
    border-radius:45em;
    border-width: 0;
    background: rgb(95, 95, 95);
    color: white;
    font-size: large;
    text-align: left;
    background: rgb(39, 39, 39);
    padding-left: 0.7em;
    margin-right: 0.35em;

}
.res{
    text-align: right;
    margin-top: 20px;
    font-size:xx-large;
    padding: 0.3em;
    font-family: Helvetica;
    font-weight: lighter;
}
.container{
    margin-top: 200px;
    background: black;
    padding: 1.7em;
    border-radius: 1em;



}