body{
    background: black;
}
.heading{
    color: blanchedalmond;
    text-align: center;

}
.input{
    width: 800px;
    height: 40px;    
    
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
}
.plusicon{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background: orange;
    font-size: 35px;
}
.main{
    font: large;
}
.list{
    color: orange;
}
@media only screen and(width:700px){
    .plusicon{
      height: 65px;
      width: 65px;
      border-radius: 50%;
      background: orange;
      font-size: 35px;
      flex-wrap:flex;
      display: flex;
  }
}